# Testing

In [36]:
days_in_months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days_in_leap_months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
_MONTHS_IN_YEAR = ['January', '28', 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [37]:
days_in_leap_months[:1]

[31]

In [ ]:
date1 = input('Please insert')

In [1]:
date1 = '02/06/1983'
date2 = '22/06/1983'

In [3]:
date1.split('/')

['02', '06', '1983']

In [38]:
def is_leap(year):
    "year -> 1 if leap year, else 0."
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

In [39]:
is_leap(1923)

False

In [251]:
def date_calc(start, end):
    
    days_in_months      = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    days_in_leap_months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    day1, month1, year1 = map(int, start.split('/'))
    day2, month2, year2 = map(int, end.split('/'))
    
    day1 += 1
#     day2 -= 1
    

    year_to_days = int((year2 - year1) * 365)

    if is_leap(year1):

        if month1 != 1:
            months_to_days1 = sum(days_in_leap_months[:month1 - 1]) + day1
        else:
            months_to_days1 = day1
    else:
        if month1 != 1:
            months_to_days1 = sum(days_in_months[:month1 - 1]) + day1
        else:
            months_to_days1 = day1



    if is_leap(year2):
#             year_to_days += 1
        if month2 != 1:
            months_to_days2 = sum(days_in_leap_months[:month2 - 1]) + day2
        else:
            months_to_days2 = day2
    else:
        if month2 != 1:
            months_to_days2 = sum(days_in_months[:month2 - 1]) + day2
        else:
            months_to_days2 = day2
            
    leap_years_between = []
    sorted_years = sorted((year1, year2))
    
    for y in range(sorted_years[0], sorted_years[1] + 1, 1):
        if is_leap(y):
            leap_years_between.append(1)
    
    leap_years_between = sum(leap_years_between)
    
    if leap_years_between >= 2: leap_years_between -= 2
    elif leap_years_between == 1: leap_years_between -=1
    
    months_in_between = months_to_days2 - months_to_days1
        
        
    your_num = abs(year_to_days + months_in_between + leap_years_between)
    
    print(f"There are {your_num} days in between your dates")

In [252]:
date_calc('02/06/1983', '22/06/1983')

There are 19 days in between your dates

In [253]:
date_calc('04/07/1984', '25/12/1984')

There are 173 days in between your dates

In [249]:
days_in_months      = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days_in_leap_months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [254]:
date_calc('03/01/1989', '03/08/1983')

There are 1979 days in between your dates

In [214]:
day1, month1, year1 = map(int, '03/01/1989'.split('/'))
day2, month2, year2 = map(int, '03/08/1983'.split('/'))

In [215]:
day1, month1, year1

(3, 1, 1989)

In [216]:
day1 +=1
day2 -=1

In [217]:
year_to_days = int((year2 - year1) * 365)
year_to_days

-2190

In [218]:
if is_leap(year1):
#             year_to_days += 1
    if month1 != 1:
        months_to_days1 = sum(days_in_leap_months[:month1 - 1]) + day1
    else:
        months_to_days1 = 0 + day1
else:
    if month1 != 1:
        months_to_days1 = sum(days_in_months[:month1 - 1]) + day1
    else:
        months_to_days1 = 0 + day1

In [219]:
months_to_days1

4

In [220]:
if is_leap(year2):
#             year_to_days += 1
    if month2 != 1:
        months_to_days2 = sum(days_in_leap_months[:month2 - 1]) + day2
    else:
        months_to_days2 = 0 + day2
else:
    if month2 != 1:
        months_to_days2 = sum(days_in_months[:month2 - 1]) + day2
    else:
        months_to_days2 = 0 + day2

In [221]:
days_in_leap_months[:month2 - 1]

[31, 29, 31, 30, 31, 30, 31]

In [222]:
months_to_days2

216

In [223]:
leap_years_between = []
sorted_years = sorted((year1, year2))

for y in range(sorted_years[0], sorted_years[1] + 1, 1):
    if is_leap(y):
        leap_years_between.append(1)

In [224]:
leap_years_between

[1, 1]

In [225]:
sorted_years

[1983, 1989]

In [226]:
months_in_between = months_to_days2 - months_to_days1
months_in_between

212

In [227]:
your_num = abs(year_to_days + months_in_between + sum(leap_years_between))
your_num

1976

In [228]:
print(f"There are {your_num} days in between your dates")

There are 1976 days in between your dates

In [229]:
date_calc('13/04/1992', '03/05/1994')

There are 750 days in between your dates

In [128]:
sorted((1940, 1890))

[1890, 1940]